$darkgreen: #708871;
$darkblue: #021333;
$lightblue: #D6E5FA;

#subpage {
    background-color: $darkblue;
    color: $lightblue;
    border-radius: 5px;
}

#button:focus {
    background-color: #021333;
    color: $lightblue;
}